uv.lock
main.py
.python-version
.env
.venv/
__pycache__*
data_ingestion/structured_data/__pycache__
data_ingestion/structured_data/yf_go/
data_ingestion/unstructured_data/go.sum
data_ingestion/unstructured_data/go.mod
data_ingestion/unstructured_data/data/bloomberg
data_ingestion/unstructured_data/data/marketwatch
data_ingestion/unstructured_data/data/yahoo_finance
research/

